/* /////////////////////////////////////////////////////////////////////////////////////// */

.blog-box-photo {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blog-box_light {
  display: table-cell;
  width: 350px;
  height: 350px;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.blog-box_light .shadow_image {
  background-color: rgba(19, 30, 33, 0.4);
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.blog-box_light:hover .shadow_image {
  background-color: rgba(16, 23, 41, 0);
  background-color: ;
  /* background-image: url(/images/danny-inset.png); */
  /* background-repeat: no-repeat; */
}

/* deals with the left side */
.blog-box_light .blog-first-title {
  position: absolute;
  text-transform: uppercase;
  font-family: "Roboto";
  padding: 7px;
  z-index: 1000;
  top: 60%;
  left: -80%;
  color: #f4e3f6;
  font-weight: 300;
  font-size: 13px;
  width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}

/* text from the left side */
.blog-box_light:hover .blog-first-title {
  background-color: #8b4162;
  left: 0px;
}

/* deals with the right side */
.blog-box_light .blog-second-title {
  position: absolute;
  font-family: "Roboto";
  padding: 5px;
  z-index: 1000;
  top: 60%;
  right: -85%;
  margin-top: 35px;
  color: #f4e3f6;
  font-weight: 300;
  font-size: 11px;
  width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}

/* text from the right side */
.blog-box_light:hover .blog-second-title {
  right: 0px;
  background-color: #8b4162;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
