/* body {
  margin: 0;
  padding: 0;
  background: #262626;
} */

.qr {
  /* background-color: #d7c892; */
  width: 260px;
  height: 260px;
  margin: 0px;
  padding: 10px;
  align-self: center;
}

/* parent */
.container-email {
  /* display: grid; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  list-style: none;

  height: 1200px;
  width: 100vw;
  /* background: #3b96ca; */
  background-image: url(/images/contact-img-bw.png);
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  /* grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr; */
}

/* child */
.box-email {
  /* position: absolute; */
  /* grid-row: 1 / 2;
  grid-column: 1 / 2; */
  /* order: 1; */
  /* top: 10%;
  left: 20%; */

  transform: translate(10%, 10%);
  width: 800px;
  height: 800px;
  margin: auto 0;
  pointer-events: auto;
}

.layer-email p {
  margin: 0;
  padding: 0;
  /* text-align: justify; */
  color: #f4e3f6;
}

.box-email .layer-email {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  /* height: 100%; */
  border: 1px solid #f4e3f6;
  /* padding: 20px; */
  /* box-sizing: border-box; */
  transition: 0.8s;
  background: #0e3843;
  z-index: 3;
  overflow: hidden;
  padding: 5px;
}

.box-email:hover .layer-email {
  top: -10px;
  left: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
  background: #7e1f37;
}

.box-email .layer-email:before {
  content: "";
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  transition: 0.9s;
  transform: skewX(-5deg);
}

.box-email:hover .layer-email:before {
  left: -50%;
}

.box-email .layer-email2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  z-index: 2;
  box-sizing: border-box;
  transition: 1s;
  background: #262626;
  z-index: 2;
}

.box-email:hover .layer-email2 {
  top: 0px;
  left: 0px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.box-email .layer-email3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  z-index: 2;
  box-sizing: border-box;
  transition: 0.4s;
  background: #262626;
  z-index: 1;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
}

.box-email:hover .layer-email3 {
  top: 10px;
  left: -10px;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 16px; /* Some padding */
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #8b4162;
  color: white;
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

/* hover over mouse will change slight color */
input[type="submit"]:hover {
  background-color: #5d2740;
}

.form {
  /* grid-row: 1 / 2;
  grid-column: 1 / 2; */
  flex-direction: column;
  padding: 100px;
  color: black;

  /* background-color: brown; */
}

/* //////////////////////////////////////////////////////////////////////////////////// */
/* ///////////TWITTER SIDE//////////////////////////////////////////////////////// */

.layer1-twitter p {
  margin: 0;
  padding: 0;
  text-align: justify;
  color: #f4e3f6;
}

.twitter-timeline {
  /* grid-row: 1 / 2;
  grid-column: 2 / 3; */
  border: 1px solid black;

  margin-top: 0px;
  /* background-color: brown; */
}

.box-twitter {
  /* position: absolute;
  grid-row: 1 / 2;
  grid-column: 2 / 3; */
  top: 0%;
  left: 10px;
  transform: translate(0%, 0%);
  width: 500px;
  height: 600px;
  pointer-events: auto;
}

.box-twitter .layer1-twitter {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #f4e3f6;
  box-sizing: border-box;
  transition: 0.8s;
  background: #202244;
  z-index: 3;
  padding: 5px;
  width: 800px;
  height: 800px;
}

.box-twitter:hover .layer1-twitter {
  top: -90px;
  left: 90px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.box-twitter .layer1-twitter:before {
  content: "";
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  transition: 0.9s;
  transform: skewX(-5deg);
}

.box-twitter:hover .layer1-twitter:before {
  left: -50%;
}

.box-twitter .layer2-twitter {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  z-index: 2;
  box-sizing: border-box;
  transition: 1s;
  background: #262626;
  z-index: 2;
}

.box-twitter:hover .layer2-twitter {
  top: 0px;
  left: 0px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.box-twitter .layer3-twitter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  z-index: 2;
  box-sizing: border-box;
  transition: 0.4s;
  background: #262626;
  z-index: 1;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
}

.box-twitter:hover .layer3-twitter {
  top: 10px;
  left: -10px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

/* twitter */
/* from twitter own api dev website */

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 368px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

/* //////////////////////////////////////// */

/* I went with 850px as originally my nav bar was causing issues, so 850 was chosen */
/* for the nav bar and footer there are smaller config though */
@media all and (max-width: 850px) {
  .container-email {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    padding: 0;
    margin: 0;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */

    background-repeat: no-repeat;
    /* this is affecting the container size not the children */
    width: 100vw;
  }

  .form {
    flex-direction: column;
    padding: 10px;
    color: black;
    /* background-color: brown; */
  }

  .box-email {
    font-size: 14px;
  }

  .box-email {
    color: #f4e3f6;
    /* grid-column: 1 / 2;
    grid-row: 1 / 2; */
    /* I don't think this is doing much */
    /* align-self: flex-start; */
    transform: translate(0%, 0%);
    width: 100vw;
    /* height: 800px; */
    pointer-events: auto;
  }

  .layer-email2 {
    visibility: hidden;
  }

  .layer-email3 {
    visibility: hidden;
  }

  /* for the mobile version I had to hide the twitter feed till later as it was causing massive issues */
  .box-twitter, .layer-twitter, .layer1-twitter, .layer1-twitter:before, .twitter-timeline, .blockquote {
    display: none;
  }