/* ///////////////////////////////////////////////////////////////////////// */

/* lower container stuff */

.footer {
  /* must have the display set to grid to show */
  /* building the grid lines inside  */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  /* padding: 10px; */
  /* the side of the grid and the content inside  */
  width: 100vw;
  height: 160px;

  /* background: -moz-linear-gradient(-45deg, #d7c892 0%, #dd77cc 100%); */
  /* background: -webkit-linear-gradient(-45deg, #d7c892 0%, #dd77cc 100%); */
  background: linear-gradient(180deg, #090e17 0%, #0b0318 100%);

  /* for testing purposes  */
  /* background: #363635; */
  /* border of the lines around the grid  */
  /* border: 1px solid black; */
}

.leftf {
  font-size: 1em;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  /* background-color: #363635; */
  display: flex;
  justify-content: left;
  align-items: center;
}

.rightf {
  font-size: 1em;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  /* background-color: #363635; */
  padding: 50px;
}

.rightf a p {
  text-decoration: none;
}

/* //////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */

/* #github {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("/images/external_logos/github_0.png");
}

#github:hover {
  background: url("/images/external_logos/github_1.png");
} */
