/* ///////////////////////////////////////////////////////////////////////// */

/* lower container stuff */

.footer {
  /* must have the display set to grid to show */
  /* building the grid lines inside  */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  /* padding: 10px; */
  /* the side of the grid and the content inside  */
  width: 100vw;
  height: 160px;

  /* background: -moz-linear-gradient(-45deg, #d7c892 0%, #dd77cc 100%); */
  /* background: -webkit-linear-gradient(-45deg, #d7c892 0%, #dd77cc 100%); */
  background: linear-gradient(0deg, #363635 0%, #141414 100%);

  /* for testing purposes  */
  /* background: #363635; */
  /* border of the lines around the grid  */
  /* border: 1px solid black; */
}

.leftf {
  font-size: 1em;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  /* background-color: #363635; */
  display: flex;
  justify-content: left;
  align-items: center;
}

.rightf {
  font-size: 1em;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  /* background-color: #363635; */
  padding: 50px;
}

/* //////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
