/* hover effects on sep style sheet */

/* originally brown color */

.links-top:hover {
  background-color: #7e1f37;
}

.contact:hover {
  background-color: #7e1f37;
}

.skills:hover {
  background-color: #7e1f37;
}

.info:hover {
  background-color: #7e1f37;
}
