@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");

.nav {
  font-family: "Titillium Web";
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.contact {
  font-family: "Titillium Web";
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.nav a {
  padding: 0.5em 0.8em;

  /* color of the font */
  color: #f4e3f6;

  /* adds a stroke around the font so that it reads better for the audience */
  -webkit-text-stroke-color: #090e17;
  -webkit-text-stroke-width: 0.5px;

  /* color: rgba(255, 255, 255, 0.5); */
  position: relative;
  text-decoration: none;
  font-size: 22px;
}

.nav a::before,
.nav a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #8b4162;
  border-right: 3px solid #8b4162;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #8b4162;
  border-left: 3px solid #8b4162;
  transform: translate(100%, -50%);
}

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav a:hover {
  color: #8b4162;
  font-size: 24px;
}

.logo img:hover {
  filter: drop-shadow(25px 10px 3px black);
}
