/* /////////////////////////////////////////////////////////////////////////////////////// */
/* start */

/* to change the font colors go to nav-effects.css */

.nav {
  /* must have the display set to grid to show */
  /* building the grid lines inside */
  display: grid;
  /* this keeps the top nav bar at the top position */
  /* position: fixed; */
  grid-template-rows: 0.05fr 0.9fr 0.05fr;
  /* grid-template-columns: 0.4fr 0.2fr 0.05fr 0.2fr 0.05fr; */
  grid-template-columns: 1fr 0.8fr 0.01fr 0.25fr 0.03fr;
  /* padding: 10px; */
  /* the sie of the grid and the content inside */
  width: 100vw;
  height: 150px;
  /* background: cadetblue; */
  /* background: #363635; */
  background: linear-gradient(0deg, #090e17 0%, #0b0318 100%);

  /* background: -moz-linear-gradient(-45deg, #d7c892 0%, #dd77cc 100%); */
  /* background: -webkit-linear-gradient(-45deg, #d7c892 0%, #dd77cc 100%); */
  /* background: linear-gradient(180deg, #d7c892 0%, #dd77cc 100%); */

  /* border of the lines around the grid */
  /* border: 1px solid black; */
}

.logo {
  /* This helps center and align in middle of the box */
  display: flex;
  justify-content: left;
  padding: 10px;
  align-items: center;

  /* sets the grid row and columns and places them in place */
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  font-size: 2em;
  /* background-color: cadetblue; */
  /* This must match the background */
  /* background-color: #363635; */
}

.links-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  border: 1px solid black;
  /* color: bisque; */
  /* background-color: #d7c892; */
  background-color: #202244;
  font-family: sans-serif;

  /* this does a nice outline around the borders... But i feel it's too close to everything */
  /* outline: groove;
  outline-color: #8b4162; */
}

.links-top a {
  /* color: white; */

  text-decoration: none;
}

.contact a {
  text-decoration: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  border: 1px solid black;
  color: bisque;
  /* background-color: #d7c892; */
  background-color: #202244;

  /* this does a nice outline around the borders... But i feel it's too close to everything */
  /* outline: groove;
  outline-color: #8b4162; */
}

/* end of top nav bar section */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
