* {
/* background-color: #363635; */
}

<style>
@import url('https://fonts.googleapis.com/css?family=B612&display=swap');
</style>


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* colour platee
/*  https://artsexperiments.withgoogle.com/artpalette/colors/d7c892-363635-0ca7d2-d38281-846c5d */

/* 

light brown
#d7c892 

grey
#363635

blue
#0ca7d2

pink
#d38281

darker brown
#846c5d */

/* /////////////////////////////////////////////////////////////////////////////////////// */

.nav {
  /* must have the display set to grid to show */
  /* building the grid lines inside */
  display: grid;
  /* this keeps the top nav bar at the top position */
  /* position: fixed; */
  grid-template-rows: 0.05fr 0.9fr 0.05fr;
  /* grid-template-columns: 0.4fr 0.2fr 0.05fr 0.2fr 0.05fr; */
  grid-template-columns: 1fr 0.8fr 0.05fr 0.25fr 0.05fr;
  /* padding: 10px; */
  /* the sie of the grid and the content inside */
  width: 100vw;
  height: 100px;
  /* background: cadetblue; */
  background: #363635;
  /* border of the lines around the grid */
  /* border: 1px solid black; */
}

.logo {
  /* This helps center and align in middle of the box */
  display: flex;
  justify-content: center;
  align-items: center;

  /* sets the grid row and columns and places them in place */
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  /* font color */
  color: black;
  font-family: 'B612', sans-serif;
  font-size: 2em;
  /* background-color: cadetblue; */
  /* This must match the background */
  /* background-color: #363635; */
}

.links-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  /* border: 1px solid black; */
  color: bisque;
  background-color: #d7c892;
  font-family: sans-serif;
}

.links-top a {
  color: white;
  text-decoration: none;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  border: 1px solid black;
  color: bisque;
  background-color: #d7c892;
}

/* end of top nav bar section */
/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////// */
/* about section */

.space {
  width:100vw;
  height: 50px;
}

.contact-me {
  /* must have the display set to grid to show */
  /* building the grid lines inside */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* padding: 10px; */
  /* the sie of the grid and the content inside */
  width: 100vw;
  height: 500px;
  /* for testing purposes */
  /* background: #363635; */
  /* background: white; */
  /* border of the lines around the grid */
  /* border: 1px solid black; */
}

.form {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  /* border: 1px solid black; */
  padding: 30px;
  display: flex;
  justify-content: space-evenly; */
  text-align: justify;
  color: black;
  background-color: #d7c892;
  font-family: 'B612', sans-serif;
  font-size: 1em;
}

.twitter {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  /* border: 1px solid black; */
  color: black;
  background-color: #d7c892;
  font-family: 'B612', sans-serif;
  font-size: 1em;
  display: flex;


}
/* end of about section */

/* ////////////////////////////////////////////////////////////////////////////////// */
/* form settings */
/* make sure to put to another style sheet called contactform */

.container {
  display: flex;

  /* this centers the form on the x asis */
  justify-content: center;

  /* this does stuff on the y axis */
  align-items: center;

  width: 100vw;

  /* we need this to work with align-items to work */
  height: 100vh;
  /* as this aligns depending the height of the child */
}

/* this makes the form in a column */
form {
  display: flex;
  max-width: 400px;
  flex-direction: column;
}

.input-username-and-password {
  height: 25px;
  font-size: 15px;
  margin: 6px 0px;
}

#email-msg {
  font-size: 13px;
  margin: 7px 0px;
}

input[type="submit"] {
  display: inline-block;
  padding: 6px;
   background: cornflowerblue;
  color: white;
  font-size: 15px;
  border: none;
  margin: 5px 0px;
  border-radius: 5px;
}

/* ///////////////////////////////////////////////////////////////////////// */

/* lower container stuff */
/* lower end bit goes here */


/* ///////////////////////////////////////////////////////////////////////////////// */

/* twitter */

/* move to another style sheet */

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}