/* <style>
@import url('https://fonts.googleapis.com/css?family=B612&display=swap');
</style> */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* colour platee
/*  https://artsexperiments.withgoogle.com/artpalette/colors/d7c892-363635-0ca7d2-d38281-846c5d */

/* 

light brown
#d7c892 
grey
#363635
blue
#0ca7d2
pink
#d38281
darker brown
#846c5d */

/* /////////////////////////////////////////////////////////////////////////////////////// */

.nav {
  /* must have the display set to grid to show */
  /* building the grid lines inside */
  display: grid;
  /* this keeps the top nav bar at the top position */
  /* position: fixed; */
  grid-template-rows: 0.05fr 0.9fr 0.05fr;
  /* grid-template-columns: 0.4fr 0.2fr 0.05fr 0.2fr 0.05fr; */
  grid-template-columns: 1fr 0.8fr 0.05fr 0.25fr 0.05fr;
  /* padding: 10px; */
  /* the sie of the grid and the content inside */
  width: 100vw;
  height: 150px;
  /* background: cadetblue; */
  background: #363635;
  /* border of the lines around the grid */
  /* border: 1px solid black; */
}

.logo {
  /* This helps center and align in middle of the box */
  display: flex;
  justify-content: center;
  align-items: center;

  /* sets the grid row and columns and places them in place */
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  /* font color */
  color: black;
  font-family: "B612", sans-serif;
  font-size: 2em;
  /* background-color: cadetblue; */
  /* This must match the background */
  background-color: #363635;
}

.links-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  /* border: 1px solid black; */
  color: bisque;
  background-color: #d7c892;
  font-family: sans-serif;
}

.links-top a {
  color: white;
  text-decoration: none;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  border: 1px solid black;
  color: bisque;
  background-color: #d7c892;
}

/* hover effects on sep style sheet */

.links-top:hover {
  background-color: brown;
}

.contact:hover {
  background-color: brown;
}

.skills:hover {
  background-color: brown;
}

.info:hover {
  background-color: brown;
}

/* end of top nav bar section */
/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* image at the top of the screen */
/* to do - resize aspect ratio 2:40 */
/* deal with the image near the top */

/* i will need to make the images for this part the exact some size just in case */
/* 600px in height */

.container-height {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 600px;
}

.imagecontainer {
  display: flex;
  flex-wrap: wrap;
}

.image {
  flex: 1;
}

.crossfade img {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.crossfade {
  background: url(./images/junesleep.png);
  width: 100px;
  display: inline-block;
  font-size: 0;
  background-size: cover;
}

.crossfade img:hover {
  opacity: 0;
}

@media only screen and (min-width: 550px) {
  .imagecontainer img {
    width: 100%;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////// */
/* about section */

.about-section {
  /* must have the display set to grid to show */
  /* building the grid lines inside */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 10px 2fr;
  /* padding: 10px; */
  /* the sie of the grid and the content inside */
  width: 100vw;
  height: 500px;
  /* for testing purposes */
  /* background: #363635; */
  /* background: white; */
  /* border of the lines around the grid */
  /* border: 1px solid black; */
}

.info {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  /* border: 1px solid black; */
  padding: 100px;
  justify-content: space-evenly;
  text-align: justify;
  color: black;
  background-color: #d7c892;
  font-family: "B612", sans-serif;
  font-size: 1em;
}

.skills {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  /* sets the text to be centered */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  color: black;
  background-color: #d7c892;
  font-family: "B612", sans-serif;
  font-size: 1em;
}

/* end of about section */

/* ////////////////////////////////////////////////////////////////////////////////// */
/* remember to put this stuff on sep style sheets */

/* image two might have that cool motion slide thing there */

.image-container2 img {
  width: 100%;
  padding-top: 10px;
}

@media only screen and (min-width: 550px) {
  .image-container2 img {
    width: 50%;
  }
}

/* end of image two section */
/* possible to put sliding images there */

/* ///////////////////////////////////////////////////////////////////////// */

/* lower container stuff */

.footer {
  /* must have the display set to grid to show */
  /* building the grid lines inside */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10px 1fr;
  /* padding: 10px; */
  /* the sie of the grid and the content inside */
  width: 100vw;
  height: 100px;

  /* for testing purposes */
  /* background: #363635; */

  /* background: white; */
  /* border of the lines around the grid */
  /* border: 1px solid black; */
}

.form {
  font-size: 1em;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background-color: #d7c892;
}

.words {
  font-size: 1em;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: #d7c892;
}

/* /////////////////////// */

/* slider stuff place in another style sheet!!! */

/* the outside container */
.slider {
  display: flex;
  width: 100%;
  height: 600px;
  border: 2px solid black;
}

.slider .slide {
  position: relative;
  flex: 1;
  border-right: 2px solid black;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.slider .slide:hover {
  flex-grow: 5;
}

.slider .slide:last-child {
  border-right: none;
}

.slider .slide:nth-child(1) {
  background: url("https://images.pexels.com/photos/3747446/pexels-photo-3747446.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center center;
  background-size: cover;
}

.slider .slide:nth-child(2) {
  background: url("https://images.pexels.com/photos/3801030/pexels-photo-3801030.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center center;
  background-size: cover;
}
.slider .slide:nth-child(3) {
  background: url("https://images.pexels.com/photos/3362702/pexels-photo-3362702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center center;
  background-size: cover;
}
.slider .slide:nth-child(4) {
  background: url("https://images.pexels.com/photos/3278087/pexels-photo-3278087.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center center;
  background-size: cover;
}
.slider .slide:nth-child(5) {
  background: url("https://images.pexels.com/photos/2444429/pexels-photo-2444429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center center;
  background-size: cover;
}

.slider .slide .content {
  position: absolute;
  bottom: 0;
  margin: 40px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  visibility: none;
  opacity: 0;
  transform: translateY(100px);
}

.slider .slide:hover .content {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.5;
  transform: translateY(0px);
}

/* cool slider pure css hover */

.fond {
  /* position: absolute; */
  /* padding-top: 85px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #65c6bb; */
}

.box_light {
  display: table-cell;
  width: 350px;
  height: 350px;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.box_light .shadow_swhow_mini {
  background-color: rgba(19, 30, 33, 0.4);
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.box_light:hover .shadow_swhow_mini {
  background-color: rgba(16, 23, 41, 0);
}

/* deals with the left side */
.box_light .deroul_titre {
  position: absolute;
  text-transform: uppercase;
  font-family: "Roboto";
  padding: 7px;
  z-index: 1000;
  top: 60%;
  left: -80%;
  color: #ffffff;
  font-weight: 300;
  font-size: 13px;
  width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}

/* text from the left side */
.box_light:hover .deroul_titre {
  background-color: #1e4944;
  left: 0px;
}

/* deals with the right side */
.box_light .deroul_soustitre {
  position: absolute;
  font-family: "Roboto";
  padding: 5px;
  z-index: 1000;
  top: 60%;
  right: -85%;
  margin-top: 55px;
  color: #ffffff;
  font-weight: 300;
  font-size: 11px;
  width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}

/* text from the right side */
.box_light:hover .deroul_soustitre {
  background-color: #417c74;
  right: 0px;
}
