@import "./css/nav.css";
@import "./css/nav-effects.css";
@import "./css/slideshow.css";
@import "./css/footer.css";
@import "./css/hover.css";
@import "./css/boxlight.css";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");
@import "./css/contact.css";
@import "./css/skills.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web";
}

/* colour platee
/*  https://artsexperiments.withgoogle.com/artpalette/colors/d7c892-363635-0ca7d2-d38281-846c5d */

/* 

light brown
#d7c892 
grey
#363635
blue
#0ca7d2
pink
#d38281
darker brown
#846c5d */

/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* FADE ACROSS IMAGE at the top of the screen */
/* to do - resize aspect ratio 2:40 */
/* deal with the image near the top */

/* i will need to make the images for this part the exact some size just in case */
/* 600px in height */

.container-height {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 600px;
}

.imagecontainer {
  display: flex;
  flex-wrap: wrap;
}

.image {
  flex: 1;
}

/* fade over section */
.crossfade img {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.crossfade {
  background: url(./images/junesleep.png);
  width: 100px;
  display: inline-block;
  font-size: 0;
  background-size: cover;
}

.crossfade img:hover {
  opacity: 0;
}

@media only screen and (min-width: 550px) {
  .imagecontainer img {
    width: 100%;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////// */
/* about section */

.about-section {
  /* must have the display set to grid to show */
  /* building the grid lines inside */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  /* padding: 10px; */
  /* the sie of the grid and the content inside */
  width: 100vw;
  height: 500px;
  /* for testing purposes */
  /* background: #363635; */
  /* background: white; */
  /* border of the lines around the grid */
  /* border: 1px solid black; */
}

.info {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  /* border: 1px solid black; */
  padding: 80px;
  justify-content: space-evenly;
  text-align: justify;
  color: black;
  background-color: #d7c892;
  font-size: 1.5em;
}

.skills {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  /* sets the text to be centered */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7c892;
}
/* end of about section */

/* ////////////////////////////////////////////////////////////////////////////////// */
