.contact-me-container {
  /* must have the display set to grid to show */
  /* building the grid lines inside */
  /* display: grid; */
  /* grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr; */
  /* padding: 10px; */
  /* the sie of the grid and the content inside */
  /* width: 100vw;
  height: 100px; */

  background-color: #3b96ca;
  /* background: url(/images/contact-img.png);
  background-size: cover; */

  /* for testing purposes */
  /* background: #363635; */
  /* background: white; */
  /* border of the lines around the grid */
  /* border: 1px solid black; */

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-me-container img {
  position: fixed;
}
/* //////////////////////// */

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 16px; /* Some padding */
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #8b4162;
  color: white;
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

/* hover over mouse will change slight color */
input[type="submit"]:hover {
  background-color: #5d2740;
}

/* /////////////////////////// */
.form {
  /* grid-row: 1 / 2;
  grid-column: 2 / 3; */
  /* border: 1px solid black; */
  /* padding: 100px; */
  color: black;

  /* background-color: brown; */
}

.twitter {
  /* grid-row: 1 / 2;
  grid-column: 1 / 2; */
  /* border: 1px solid black; */
  width: 400px;
  height: 650px;
  margin-top: 80px;
  /* background-color: brown; */
}

/* ////////////////////////////////////////////////////////////////////////////////// */

/* twitter */

/* move to another style sheet */

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 368px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

/* //////////////////////////////////////// */

body {
  margin: 0;
  padding: 0;
  background: #262626;
}

.container-code {
  display: grid;
  height: 100vh;
  width: 100vw;
  background: #3b96ca;
  background-image: url(/images/top-danny-bw.png);
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
}

.layer1 p {
  margin: 0;
  padding: 0;
  text-align: justify;
  color: #f4e3f6;
}

.box {
  /* position: absolute; */
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  top: 10%;
  left: 20%;
  transform: translate(20%, 30%);
  width: 500px;
  height: 300px;
  pointer-events: auto;
}

.container-test:hover {
  transition: ease-in;
  background-image: url(/images/rabbits.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.box .layer1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #f4e3f6;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.8s;
  background: #202244;
  z-index: 3;
  overflow: hidden;
}

.box:hover .layer1 {
  top: -10px;
  left: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.box .layer1:before {
  content: "";
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  transition: 0.9s;
  transform: skewX(-5deg);
}

.box:hover .layer1:before {
  left: -50%;
}

.box .layer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  z-index: 2;
  box-sizing: border-box;
  transition: 1s;
  background: #262626;
  z-index: 2;
}

.box:hover .layer2 {
  top: 0px;
  left: 0px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.box .layer3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  z-index: 2;
  box-sizing: border-box;
  transition: 0.4s;
  background: #262626;
  z-index: 1;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
}

.box:hover .layer3 {
  top: 10px;
  left: -10px;
}

/* /////////////////////////////////////////////////////// */

.layer1-right p {
  margin: 0;
  padding: 0;
  text-align: justify;
  color: #f4e3f6;
}

.box-right {
  /* position: absolute; */
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  top: 10%;
  left: 20%;
  transform: translate(120%, 30%);
  width: 500px;
  height: 600px;
  pointer-events: auto;
}

.box:hover + .box-right {
  background: seagreen;
}

/* .container-test:hover {
  transition: ease-in;
  background-image: url(/images/rabbits.png);
  background-repeat: no-repeat;
  background-size: cover;
} */

.box-right .layer1-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #f4e3f6;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.8s;
  background: #202244;
  z-index: 3;
  overflow: hidden;
}

.box-right:hover .layer1-right {
  top: -10px;
  left: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.box-right .layer1-right:before {
  content: "";
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  transition: 0.9s;
  transform: skewX(-5deg);
}

.box-right:hover .layer1-right:before {
  left: -50%;
}

.box-right .layer2-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  z-index: 2;
  box-sizing: border-box;
  transition: 1s;
  background: #262626;
  z-index: 2;
}

.box-right:hover .layer2-right {
  top: 0px;
  left: 0px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.box-right .layer3-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  z-index: 2;
  box-sizing: border-box;
  transition: 0.4s;
  background: #262626;
  z-index: 1;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
}

.box-right:hover .layer3-right {
  top: 10px;
  left: -10px;
}
